div.menu-bar
{
    border: 1px solid black;
    background: white;
    width: 100%;
    position: fixed;
    z-index: 2;
}

div.dropdown
{
    float: left;
    padding: .75vh 0vw 0vh 1vw;
}

div.share-icons
{
    text-align: right;
    padding: .75vh 1vw .75vh 0vw;
}

.fa 
{
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover 
{
    opacity: 0.9;
}

/* Facebook */
.fa-facebook 
{
    background: white;
    color: black;
    border: 1px solid black;
}

/* Twitter */
.fa-twitter 
{
    background: white;
    color: black;
    border: 1px solid black;
}

/* Reddit */
.fa-reddit 
{
    background: white;
    color: black;
    border: 1px solid black;
}